/* General Page CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.chart-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.chart-row svg {
    flex: 1;
    height: auto;
    max-width: 45%;
}

/* General Chart CSS */

.chart-title {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

.axis-title {
    font-size: 14px;
    text-anchor: middle;
}

/* Histogram Specific CSS */

.bar {
    fill: steelblue
}

.bar:hover {
    fill: darkorange
}