/* General Page CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    text-align: center;
}

.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.author {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 3rem;
}

.chart-row-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.chart-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.chart-row svg {
    flex: 0 0 45%;
    height: 400px;
    max-width: 45%;
    display: block;
}

/* General Chart CSS */

.chart-title {
    font-size: 1rem;
    font-weight: bold;
    text-anchor: middle;
}

.axis-title {
    font-size: 0.875rem;
    text-anchor: middle;
}

/* Histogram Specific CSS */

.bar {
    fill: steelblue
}

.bar:hover {
    fill: darkorange
}