/* General Page CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* General Chart CSS */

.chart-title {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

.axis-title {
    font-size: 14px;
    text-anchor: middle;
}

/* Histogram Specific CSS */

.bar {
    fill: steelblue
}

.bar:hover {
    fill: darkorange
}